body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,febbbb+26,febbbb+27,fc9797+49,fe9090+67,fe9090+67,ff7575+96 */
  background: #febbbb;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #febbbb 0%, #febbbb 26%, #febbbb 27%, #fc9797 49%, #fe9090 67%, #fe9090 67%, #ff7575 96%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #febbbb 0%, #febbbb 26%, #febbbb 27%, #fc9797 49%, #fe9090 67%, #fe9090 67%, #ff7575 96%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #febbbb 0%, #febbbb 26%, #febbbb 27%, #fc9797 49%, #fe9090 67%, #fe9090 67%, #ff7575 96%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff7575', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}